spring:
  application:
    name: mozdelivery-api

  profiles:
    default: dev

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.spatial.dialect.postgis.PostgisPG10Dialect
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized

logging:
  level:
    com.xavier.mozdeliveryapi: DEBUG
    org.springframework.security: DEBUG
    org.springframework.modulith: DEBUG
